server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/rafaelporreca/ecoshop-config-repo
          default-label: master # ou main, dependendo do seu git init
          clone-on-start: true